<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="#" class="logo">
            <img src="../../../../../assets/imagenes/logo.png" alt="logo" />
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Cerrar sesión</a>
        </li>
                <li class="nav-item">
          <a class="nav-link" routerLink="/registro">Gestionar usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  target="_blank" routerLink="/rol">Gestionar Roles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" target="_blank" routerLink="/habitacion">Gestionar habitaciones</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-5">
  <div class="alert alert-info text-center" role="alert"><br><br>
    Bienvenido al Panel de Administrador. Por favor, presione una de las opciones del menú de navegación para gestionar el sistema.
  </div>
</div>