nav {
  background-color: #121212;
  padding: 1rem;

  ul {
    list-style-type: none;
    padding: 0;

    li {
      display: inline;
      margin-right: 1rem;

      a {
        text-decoration: none;
        color: #007bff;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Roboto Slab', serif;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 80%;
  margin: auto;
}

.head_container {
  max-width: 90%;
  margin: auto;
}

/*--------------header--------*/
header {
  height: 8vh;
}

.logo img {
  width: 120px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
.busca{
  background-color: #fff;
}

.hambuger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul li {
  margin-left: 3rem;
}

header ul li a {
  font-size: 1.2rem;
  font-weight: 400;
  color: white;
  transition: 0.5s;
}

header ul li a:hover {
  color: #C1B086;
}

@media only screen and (max-width: 768px) {
  header ul {
    display: block;
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.5s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 20;
  }

  header ul.active {
    left: 0%;
  }

  header ul li {
    margin: 2.5rem 0;
  }

  header ul li a {
    color: black;
  }

  .hambuger {
    display: block;
    cursor: pointer;
  }

  .hambuger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hambuger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hambuger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}



@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap';

// Variables
$primary-color: #007bff;
$light-gray: #f8f9fa;
$dark-gray: #343a40;

// General body settings
body {
  font-family: 'Roboto', sans-serif;
  background-color: $light-gray;
  color: $dark-gray;
}

// Card styles
.card {
  border-radius: 0.5rem;
  overflow: hidden;

  &-header {
    padding: 1.5rem;
    background-color: $primary-color;
  }

  &-body {
    padding: 1.5rem;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}

// Table styles
table {
  margin-top: 1rem;
  border-collapse: collapse;

  thead {
    th {
      font-weight: 500;
      text-transform: uppercase;
      background-color: $primary-color;
      color: #fff;
    }
  }

  tbody {
    tr {
      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }
    }

    td {
      padding: 0.75rem;
    }
  }
}

// Headings
h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
  color: $dark-gray;
}

// Add some space between elements
.mt-4 {
  margin-top: 1.5rem;
}

.mt-5 {
  margin-top: 3rem;
}
